<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.AccentColor" title="@Strings.AccentColorTitle">
        <settingConfig type="list">
            <listEntry value="0xE6B463">@Strings.ColorAmber</listEntry>
            <listEntry value="0x3FB1EA">@Strings.ColorBlue</listEntry>
            <listEntry value="0x4EBE7D">@Strings.ColorGreen</listEntry>
            <listEntry value="0xE8605B">@Strings.ColorRed</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.NotificationIcon" title="@Strings.NotificationIconTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.IconEnvelope</listEntry>
            <listEntry value="1">@Strings.IconBell</listEntry>
            <listEntry value="2">@Strings.IconBubble</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowSecondHand" title="@Strings.ShowSecondHandTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
